################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Domain/obj/Debug
/Persistence/obj/Debug
/Presentation/obj/Debug
/.vs/TrainSearch/v15
